[submodule "pricing_algorithms"]
	path = pricing_algorithms
	url = ./pricing_algorithms/
[submodule "crtp_prtp_rtp"]
	path = crtp_prtp_rtp
	url = git@bitbucket.org:socialenergy-iccs/crtp_prtp_rtp.git
