      <div class="form-group row">
        <%= ff.hidden_field :ts_offset %>
        <%= ff.label :volume, class: "col-sm-3 col-form-label" %>
        <div class="col-sm-9">
          <%= ff.number_field :volume, step: 0.01, class: "form-control" %>
        </div>
      </div>
