<%= content_for :title, 'Editing Dr Event' %>

<div class="row">
  <div class="col-lg-12">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-area-chart"></i>
        dr_event properties
      </div>
      <div class="card-body">
        <%= render 'form', dr_event: @dr_event %>

        <%= link_to 'Show', @dr_event, class: 'btn btn-info btn-sm' %> |
        <%= link_to 'All Dr Events', dr_events_path, class: 'btn btn-info btn-sm' %>
      </div>
      <div class="card-footer small text-muted">
      </div>
    </div>
  </div>
</div>
