<% content_for :title, "Research Algorithm Toolkit - Social Energy project" %>

<!--<p>Find me in app/views/pages/home.html.erb</p>-->
<div class="row">

  <%= render partial: 'home_card', collection: @cards, as: :card %>


  <div class="container-fluid">
    <div class="card-group ">
      <%= render partial: 'home_chart', collection: @charts, as: :chart %>
    </div>
  </div>
</div>