<%= content_for :title, 'Editing Dr Target' %>

<div class="row">
  <div class="col-lg-12">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-area-chart"></i>
        dr_target properties
      </div>
      <div class="card-body">
        <%= render 'form', dr_target: @dr_target %>

        <%= link_to 'Show', @dr_target, class: 'btn btn-info btn-sm' %> |
        <%= link_to 'All Dr Targets', dr_targets_path, class: 'btn btn-info btn-sm' %>
      </div>
      <div class="card-footer small text-muted">
      </div>
    </div>
  </div>
</div>
