// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*body {
  margin-top: 100px;
}*/

/*.side-nav {
  top: 100px;
}*/

.navbar-burger {
  width: 50px;
}
body {
  margin-top: 50px;
  background-color: #222;
}