
body {
  background-color: #fff;
  //  color: #333;
  margin: 33px;
  //font-family: verdana, arial, helvetica, sans-serif;
  //font-size: 13px;
  //line-height: 18px;
}

p, ol, ul, td {
  //font-family: verdana, arial, helvetica, sans-serif;
  //font-size: 13px;
  //line-height: 18px;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  //  color: #000;

  &:visited {
    //    color: #666;
  }

  &:hover {
    //    color: #fff;
    // background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.btn-warning {
  color: white !important;
}

select {
  height: 100% !important;
  overflow-y: auto;
}

.nav-tabs > li > a:hover {
  background-color: #FFFFFF;
}

.select2-container {
  width: 100% !important;
}

.fa-spinner {
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

.card-narrow {
  min-width: 300px !important;
}

.card-wide {
  min-width: 500px !important;
  //max-width: 800px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.max-height-200px {
  overflow: auto;
  max-height: 200px;
}

.nav-item > a:not(.nav-link-collapse)  {
  white-space: nowrap;
}

.nav-link-text {
  margin-left: 5px;
}